.review-container{
    text-align: center;
    background-color: white;
    padding-top: 40px;
}
.review-container h1{
    color: rgb(5,55,112);
    margin-bottom: 30px;
}
.review-container h4{
    color: black;
    margin-bottom: 50px;
    font-size: 20px;
}
.review-child{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
.review-child p{
    color: black;
    margin-bottom: 50px;
    max-width: 250px;
    text-align: center;
    justify-self: center;
    /* font-size: 20px; */
}
.star-container{
    display: flex;
    flex-direction: row;
    color: rgb(5,55,112);
    justify-self: center;
}
div h2{
    color:rgb(5,55,112) ;
    margin-bottom: 10px;
}
@media (max-width: 750px) {
    .review-child{
        display: block;
        padding-bottom: 20px;
    }
}